<div style="height:40px;  width:100%; background-color:  black;">
    form date<input [ngModel]="startDate | date:'yyyy-MM-dd'" (ngModelChange)="startDate = $event" type="date" name="startDate"/>
    To Date<input [ngModel]="endDate | date:'yyyy-MM-dd'" (ngModelChange)="endDate = $event" type="date" name="endDate"/>

    <button class="btn" type="button" style="height: 40px" 
        (click)="getEnquiryBetweenDate()" 
        >get</button>
        <button class="btn" type="button" style="height: 40px" 
        (click)="getEmployees()"
        >AllEnquery</button>
        <button class="btn" type="button" style="height: 40px" 
        (click)="downloadEnquiry()"
        >Download</button>
    </div>
       <!--
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
       
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef = "let enquiry "> {{enquiry.id}} </td>
        </ng-container>
      
        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef = "let enquiry "> {{enquiry.fullName}} </td>
        </ng-container>
    
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> email </th>
          <td mat-cell *matCellDef = "let enquiry "> {{enquiry.email}} </td>
        </ng-container>
 
        <ng-container matColumnDef="phoneNo">
          <th mat-header-cell *matHeaderCellDef> phoneno </th>
          <td mat-cell *matCellDef = "let enquiry "> {{enquiry.phoneNo}} </td>
        </ng-container>
  
        <ng-container matColumnDef="organization">
            <th mat-header-cell *matHeaderCellDef> organization </th>
            <td mat-cell *matCellDef  = "let enquiry "> {{enquiry.organization}} </td>
          </ng-container>

          <ng-container matColumnDef="subject">
            <th mat-header-cell *matHeaderCellDef> subject </th>
            <td mat-cell *matCellDef = "let enquiry "> {{enquiry.subject }}</td>
          </ng-container>

          <ng-container matColumnDef="content">
            <th mat-header-cell *matHeaderCellDef> content </th>
            <td mat-cell *matCellDef= "let enquiry "> {{enquiry.content}} </td>
          </ng-container>
        
 
          <ng-container matColumnDef="createdDate">
            <th mat-header-cell *matHeaderCellDef> date </th>
            <td mat-cell *matCellDef = "let enquiry "> {{enquiry.createdDate}} </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    -->
    <table class = "table table-dark table-striped">
        <thead>
            <tr>
              <th class="per"> Id</th>
                <th class="per"> Name</th>
                <th class="per"> Email</th>
                <th class="per"> phoneno</th>
                <th class="per"> organization</th>
                <th class="per"> subject</th>
                <th class="per"> content</th>
                <th class="per"> Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let enquiry of enquiries" >
                <td class="per"> {{enquiry.id}}</td>
                <td class="per"> {{ enquiry.fullName }} </td>
                <td class="per"> {{ enquiry.email }} </td>
                <td class="per"> {{ enquiry.phoneNo }} </td>
                <td class="per"> {{ enquiry.organization }} </td>
                <td class="per"> {{ enquiry.subject }} </td>
                <td class="per"> {{ enquiry.content }} </td>
                <td class="per"> {{ enquiry.createdDate | date:'dd-MM-yyyy'}}</td>
        
            </tr>
        </tbody>
    </table> 
      
      
      
      
