table table-striped{
    align-items: center;
}
.btn{
    margin: 0px 9px;
    background-color: gray;
    color: white;
    padding: 4px 14px;
    border: 2px solid cyan;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    }
.btn:hover{
    background-color: green;
    }
    table {
        width: 100%;
      }
      