.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background: #000000;
  color: #ffffff;
}

.mat-toolbar.main {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-list-item {
    color: #ffffff;
}

mat-toolbar.footer {
    font-size: 12px;
    font-weight: 300;
}
footer {
text-align: end;
}
.active-route,
a.mat-list-item:hover {
    font-weight: 500;
    background: rgb(var(--arbitrary-gray-rgb));
}

mat-sidenav-content {
    background: black;
    color: white;
}
.btn{
  background-color: gray;
  color: black;
  padding: 4px 14px;
  font-size: 20px;
  margin-bottom:20px ;
  cursor: pointer;
  }
.btn:hover{
  background-color: green;
  }
  .btnn{
    text-align: right;
  }