<div class="col-md-6 offset-md-3">
    <form (ngSubmit) = "onSubmit()" [formGroup]="register" class="con">
        <br>
            <input type="text" class="form-controler" placeholder="fullName" formControlName="uname">
            <span *ngIf="vname && vname.invalid" style="color: red;">enter a valid data</span>
            <br>
            <input type="text" class="form-controler" placeholder="organization" formControlName="email">
            <span *ngIf="vemail && vemail.invalid" style="color: red;">enter a valid data</span>
            <br>
            <input type="text" class="form-controler" placeholder="email"formControlName="organization">
            <span *ngIf="vorganization && vorganization.invalid" style="color: red;">enter a valid data</span> 
            <br>
            <input type="text" class="form-controler" placeholder="subject" formControlName="subject">
            <span *ngIf="vsubject && vsubject.invalid" style="color: red;">enter a valid data</span>
            <br>
            <input type="text" class="form-controler" placeholder="content" formControlName="content">
            <span *ngIf="vcontent && vcontent.invalid" style="color: red;">enter a valid data</span>
            <tr>
                <td><button type="reset" class="btn">Reset</button></td>
              <td>  <button class = "btn" type ="submit">Submit</button></td>
                    </tr>
    </form>
    </div> 